* {
    box-sizing: border-box; /*separate cards*/
}

body {
    background-color: burlywood;     
    font-family: 'Inter', sans-serif; 
    line-height: 1.3;     
}

.image-wrapper {
    margin-top: 40px; 
    margin-bottom: 40px;   
    width: 100%;
    /*padding-top: 50%; /*aspect ratio 1:2*/
    position: relative;        
}

.image-wrapper__image {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 16px;
    /*position: relative;*/
}

.image-wrapper__text {   
    position: relative;
    padding-top: 187%;
    padding-bottom: 5%;
    left: 5%;
       
}

.image-wrapper__text--second {
    padding-top: 55%;
}

.image-wrapper__text--third {
    padding-top: 19%;
    left: 2%;
}
